<style type="text/css">
  .linkDisabled {
    cursor: not-allowed !important;
    pointer-events: none;
    color: grey;
  }
  /*Paginaton Css start*/
.prvsBtns{padding: 4px 15px !important;background-color: #fff; font-size: 10px;
  border: 1px solid #ddd; margin-right: 2px; color:#444444;}
.prvsBtns:hover{background-color: #1c9ccb !important; color: #fff;border: 1px solid #1c9ccb;}
.nextBtns{padding: 4px 15px !important;background-color: #fff; font-size: 10px;
  border: 1px solid #ddd; margin-left: 5px; color:#444444;}
.nextBtns:hover{background-color: #1c9ccb !important; color: #fff;border: 1px solid #1c9ccb;}
.paginationnmbr{padding: 2px 7px !important; margin-right: 5px;}
.activepagintion{background-color: #1c9ccb !important;text-align:center;border: 1px solid #1c9ccb;cursor: pointer;color: #fff;top: 1px;position: relative;}
.deactivepagintion{background-color: #fff !important;text-align:center;border: 1px solid #ddd;
  cursor: pointer;position: relative;top: 1px;color: #666666;}
.deactivepagintion:hover{background-color: #1c9ccb !important; color: #fff;border: 1px solid #1c9ccb;}

/*Paginaton Css end*/
</style>
<div class="container">
  <span class="paginationnmbr activepagintion"  data-toggle="modal" data-target="#organization">
  Add New Organization
  </span>
  <span class="paginationnmbr activepagintion" style="text-align:right" data-toggle="modal" data-target="#adduser">
  Add New Admin
  </span>
  <br><br>
  <div class="table-responsive"> 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Row</th>
                <th>Added By(Admin)</th>
                <th>ID Organization</th>
                <th>Organization Name</th>
                <th>Organization Requested By (UserName)</th>
                <th>Organization Requested By (UserID)</th>
                <th>Status</th>
                <th>Organization Address</th>
                <th>Created at</th>
                <th>Approve/Disapprove</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in oraganizations">
                <td>{{($index+1)+parseInt(startIndex)}}</td>
                <td> {{p.admin_name}}</td>
                <td>{{p.id_organization}}</td>
                <td>{{p.name}}</td>
                <td>{{p.requested_username}}</td>
                <td>{{p.user_id_user}}</td>
                <td><span><span style="color:green" ng-if="p.status==1">Already     Approved</span>
                <span style="color:red" ng-if="p.status==0" >Requested</span>
                </span>
                    </td>
                <td>{{p.address}}</td>
                <td>{{p.created_at}}</td>
                <td>
                    <span ng-if="p.status==0" class="paginationnmbr activepagintion"  ng-click="updateOrganizationDetail(p.id_organization,'1')">
                    Approve
                    </span>
                    <span ng-if="p.status==1" class="paginationnmbr activepagintion" ng-click="updateOrganizationDetail(p.id_organization,'0')">
                    DisApprove
                    </span>

                </td>
                <td>
                  <span class="paginationnmbr activepagintion" style="color:red" ng-click="deleteOrganization(p.id_organization)">
                  Delete 
                  </span>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div ng-show="oraganizations.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center ptrnpagi" style="padding-bottom:12px;padding-top:12px;">
                    <div class="col col-xs-12 col-sm-2 col-md-4 col-lg-4 text-left">Showing {{(startIndex*parseInt(limitIndex))+1}} to {{totalItems>(startIndex*parseInt(limitIndex))+parseInt(limitIndex)?(startIndex*parseInt(limitIndex))+parseInt(limitIndex):totalItems}} of {{totalItems}} entries</div>
                    <div class="col col-xs-12 col-sm-3 col-md-3 col-lg-3 text-left">
                        <span>Show </span>
                        <span>
                        <select name="datatableCompletedExamStudents_length" ng-model="limitIndex" ng-change="changeLimitIndex(limitIndex)"  class="showEntry">
                            <option value=10>10</option>
                            <option value=25>25</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                            <option value=200>200</option>
                            <option value={{totalItems}}>All</option>
                        </select>
                        </span>
                        <span> 
                        entries
                        </span>
                    </div>
                    <div class="col col-xs-12 col-sm-6 col-md-5 col-lg-5 text-right">
                        <span>
                            <button class="prvsBtns"  ng-class="{'linkDisabled':startIndex == 0}" ng-disabled="startIndex == 0" ng-click="startIndex = startIndex - 1; setPage(startIndex); loadingBarShow = true;"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Previous</button>
                        </span>
                        <span>
                            <span class="paginationnmbr" ng-repeat="item in itemsPaginated()" ng-click="setPage(item - 1)" ng-class="{'activepagintion':startIndex == item - 1,'deactivepagintion':startIndex != item - 1}">
                                {{item}}
                            </span>
                        </span>
                        <span>
                            <button class="nextBtns" ng-class="{'linkDisabled':startIndex >= totalItems / limitIndex - 1}" ng-disabled="startIndex >= totalItems / limitIndex - 1" ng-click="startIndex = startIndex + 1; setPage(startIndex); loadingBarShow = true;"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Next</button>
                        </span>
                    </div>
                </div>
                                <div ng-show="products.length ==0" style="text-align:center">No Records</div>

</div>
</div>

<div class="modal fade" id="organization" tabindex="0" role="dialog" aria-labelledby="Login" aria-hidden="true">

  <div class="modal-dialog">

      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="Avialability">Add Organization</h4>
          </div>
          <div class="modal-body">

              <form  id="organization1" name="organization1">
                  <div class="form-group">
                      <input type="text" name="name"  id="name" ng-model="organization2.name" class="form-control" id="number-modal" placeholder="Organization Name">
                  </div>
                  <div class="form-group">
                      <span>Address</span>
                      <textarea ng-model="organization2.address" id="address" id="address" name="address"  cols="2" rows="2" class="form-control" id="number-modal">
                        
                      </textarea>
                  </div>
                  <p class="text-center">
                      <button class="btn btn-primary" ng-click="addOrganization(organization2)"><i class="fa fa-sign-in"></i> Add Organization</button>
                  </p>
              </form>

      </div>
  </div>
</div>
</div>

<div class="modal fade" id="adduser" tabindex="0" role="dialog" aria-labelledby="Login" aria-hidden="true">

  <div class="modal-dialog">

      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="Avialability">Add User</h4>
          </div>
          <div class="modal-body">

              <form  id="user1" name="user1">
                  <div class="form-group">
                      <input type="text" name="name"  id="name" ng-model="user.name" class="form-control" id="number-modal" placeholder="User Name">
                  </div>
                  <div class="form-group">
                      
                      <input type="password" name="password"  id="password" ng-model="user.password" class="form-control" id="number-modal" placeholder="User Passwrod">
                  </div>
                  <div class="form-group">
                      
                      <input type="password" name="conf_password"  id="password" ng-model="user.conf_password" class="form-control" id="number-modal" placeholder="User Confirm Passwrod">
                  </div>
                  <p class="text-center">
                      <button class="btn btn-primary" ng-click="addAdmin(user)"><i class="fa fa-sign-in"></i> Add Organization</button>
                  </p>
              </form>

      </div>
  </div>
</div>
</div>