<style type="text/css">
  .linkDisabled {
    cursor: not-allowed !important;
    pointer-events: none;
    color: grey;
  }
  /*Paginaton Css start*/
.prvsBtns{padding: 4px 15px !important;background-color: #fff; font-size: 10px;
  border: 1px solid #ddd; margin-right: 2px; color:#444444;}
.prvsBtns:hover{background-color: #1c9ccb !important; color: #fff;border: 1px solid #1c9ccb;}
.nextBtns{padding: 4px 15px !important;background-color: #fff; font-size: 10px;
  border: 1px solid #ddd; margin-left: 5px; color:#444444;}
.nextBtns:hover{background-color: #1c9ccb !important; color: #fff;border: 1px solid #1c9ccb;}
.paginationnmbr{padding: 2px 7px !important; margin-right: 5px;}
.activepagintion{background-color: #1c9ccb !important;text-align:center;border: 1px solid #1c9ccb;cursor: pointer;color: #fff;top: 1px;position: relative;}
.deactivepagintion{background-color: #fff !important;text-align:center;border: 1px solid #ddd;
  cursor: pointer;position: relative;top: 1px;color: #666666;}
.deactivepagintion:hover{background-color: #1c9ccb !important; color: #fff;border: 1px solid #1c9ccb;}

/*Paginaton Css end*/
</style>
<div class="container">
  <div class="col-lg-12">
    <div class="col-lg-8"> 
      <div class="col-lg-12" style="text-align: right!important">   
        <input type="date" name="date" id="date" ng-model="dateval"> </input>
        <select name="trans" id="trans" ng-model="status">
            <option value="shipped" selected="selected" > Shipped</option>
            <option value="cancelled"> Cancelled</option>
            <option value="delivered"> Delivered</option> 
            <option value="finished"> Finished</option> 
        </select>
        <button type="submit" class="btn btn-info btn-sm" ng-click="changeTransactionStatus(status,dateval)">Change Transaction Status</button>
      </div>
  </div>
</div> 
  <div class="table-responsive"> 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Row</th>
                <th>Select</th>
                <th>Transaction ID</th>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Buyer Name</th>
                <th>Order Date</th>
                <th>Date Issued</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Seller Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in transactions">
                <td>{{($index+1)+parseInt(startIndex)}}</td>
                <td> <label class="checkbox">
                        <input class="caseProgressiveStudents"  name="checkbox" type="checkbox"  value="{{p.id_sub_transaction}}">
                        <i></i>
                    </label>
                </td>    
                <td>{{p.transaction_id_transaction}}</td>
                <td>{{p.id_product}}</td>
                <td>{{p.product_name}}</td>
                <td>{{p.buyer_name}}</td>
                <td>{{p.ordered_date}}</td>
                <td>{{p.date_issued}}</td>
                <td>{{p.due_date}}</td>
                <td>{{p.transaction_status}}</td>
                <td>{{p.seller_name}}</td>
            </tr>
            
        </tbody>
    </table>
    <div ng-show="transactions.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center ptrnpagi" style="padding-bottom:12px;padding-top:12px;">
                    <div class="col col-xs-12 col-sm-2 col-md-4 col-lg-4 text-left">Showing {{(startIndex*parseInt(limitIndex))+1}} to {{totalItems>(startIndex*parseInt(limitIndex))+parseInt(limitIndex)?(startIndex*parseInt(limitIndex))+parseInt(limitIndex):totalItems}} of {{totalItems}} entries</div>
                    <div class="col col-xs-12 col-sm-3 col-md-3 col-lg-3 text-left">
                        <span>Show </span>
                        <span>
                        <select name="datatableCompletedExamStudents_length" ng-model="limitIndex" ng-change="changeLimitIndex(limitIndex)"  class="showEntry">
                            <option value=10>10</option>
                            <option value=25>25</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                            <option value=200>200</option>
                            <option value={{totalItems}}>All</option>
                        </select>
                        </span>
                        <span> 
                        entries
                        </span>
                    </div>
                    <div class="col col-xs-12 col-sm-6 col-md-5 col-lg-5 text-right">
                        <span>
                            <button class="prvsBtns"  ng-class="{'linkDisabled':startIndex == 0}" ng-disabled="startIndex == 0" ng-click="startIndex = startIndex - 1; setPage(startIndex); loadingBarShow = true;"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Previous</button>
                        </span>
                        <span>
                            <span class="paginationnmbr" ng-repeat="item in itemsPaginated()" ng-click="setPage(item - 1)" ng-class="{'activepagintion':startIndex == item - 1,'deactivepagintion':startIndex != item - 1}">
                                {{item}}
                            </span>
                        </span>
                        <span>
                            <button class="nextBtns" ng-class="{'linkDisabled':startIndex >= totalItems / limitIndex - 1}" ng-disabled="startIndex >= totalItems / limitIndex - 1" ng-click="startIndex = startIndex + 1; setPage(startIndex); loadingBarShow = true;"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Next</button>
                        </span>
                    </div>
                </div>
                <div ng-show="transactions.length ==0" style="text-align:center">No Records</div>
</div>
</div>