<!DOCTYPE html>
<html ng-app="bookAppAdmin" lang="en-us" class="no-js">

<head>
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
     <link href="../css/summernote.css" rel="stylesheet">
    <link href="../css/summernote-bs3.css" rel="stylesheet">
    <script src="../js/respond.min.js"></script>
    <script src="../js/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/tooltip.js"></script>

    <script src="../js/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

    <script src="../js/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>

    <script src="../js/jquery.cookie.js" type="text/javascript"></script>

    <script src="../js/angular/angular.min.js" type="text/javascript"></script>        

    <script src="../js/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>

    <script src="../js/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>

    <script src="../js/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="../js/angular-file-upload/angular-file-upload.js" type="text/javascript"></script>
    

    <script src="../js/angular-timer/angular-timer-all.min.js" type="text/javascript"></script>    

    <script src="../js/cropper/cropper.js" type="text/javascript"></script>
    <script src="../js/cropper/ng-jcrop.js" type="text/javascript"></script>
    <script src="../js/jquery-cookies.js" type="text/javascript"></script>

    <script src="js/ng-img-crop.js" type="text/javascript"></script>
    <script src="../js/summernote.min.js"></script>
    <script src="../js/angular-summernote.min.js"></script>
    <script src="js/admin.js" type="text/javascript"></script>

    <script src="js/config.js" type="text/javascript"></script>

</head>

<body>
  
   
<style type="text/css">
    .active1{
       background: aqua;
    }
    input[type=checkbox] { display:block !important; } /* to hide the checkbox itself */

</style>
   <nav class="navbar navbar-default" ng-if="!$root.enableAdminSignIn">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" >Books</a>
        </div>
        <ul class="nav navbar-nav" ng-init="$root.menu=='addp'">
          <li ng-class="{'active1':$root.menu=='addp'}"><a ng-click="menu=addp" data-ui-sref="addproduct" style="cursor:pointer" class=" padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <strong>A</strong>dd Product</a></li>
          <li ng-class="{'active1':$root.menu=='lenderbooks'}"> <a ng-click="menu=lenderbooks" data-ui-sref="lenderbooks" style="cursor:pointer"  class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-reorder"></i> <strong>L</strong>ender books</a></li>
          <li ng-class="{'active1':$root.menu=='transaction'}"><a ng-click="menu=transaction"  data-ui-sref="transaction" style="cursor:pointer"   class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-question-circle"></i> <strong>T</strong>ransactions</a></li>
          <li ng-class="{'active1':$root.menu=='viewproduct'}"><a ng-click="menu=viewproduct" data-ui-sref="viewproduct" style="cursor:pointer"   class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-question-circle"></i> <strong>V</strong>iew Products</a></li>
          <li ng-class="{'active1':$root.menu=='oraganization'}"><a ng-click="menu=oraganization" data-ui-sref="oraganization" style="cursor:pointer"   class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-question-circle"></i> <strong>O</strong>rganization</a></li>
          <li>
          </li>
          <li>
          </li>
          <li >
            <a  style="color:red" href="" ng-click="$root.logout();">Log Out</a>
          </li>
        </ul>
      </div>
  </nav>
  <div ui-view></div> 
</body>