<div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a data-ui-sref="home">Home</a>
                        </li>
                        <li>Shopping cart</li>
                    </ul>
                </div>
                <div class="col-md-9" id="basket" ng-show="showBasket">

                    <div class="box">

                        <form method="post" action="checkout1.html">

                            <h1>Shopping cart</h1>
                            <p class="text-muted" ng-if="$root.cartProducts.length==0">You currently not having any item(s) in your cart.</p>
                            <p class="text-muted" ng-if="$root.cartProducts.length>0">You currently have {{$root.cartProducts.length}} item(s) in your cart.</p>
                            <div class="table-responsive" ng-if="$root.cartProducts.length>0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <!-- <th>Quantity</th> -->
                                            <th>Price per data</th>
                                            <!-- <th>Discount</th> -->
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in $root.cartProducts">
                                            <td>
                                                <a >
                                                    <img src="./uploads/{{product.pic}}" alt="{{product.name}}">
                                                </a>
                                            </td>
                                            <td><a href="">{{product.name}}</a>
                                            </td>
                                           <!--  <td>
                                                <input type="number" value="2" class="form-control">
                                            </td> -->
                                             <td>10 Rs/Day</td>
                                            <!--<td>$0.00</td>
                                            <td>$246.00</td> -->
                                            <td><a href="" ng-click="deleteProductFromCart(product)"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="img/basketsquare.jpg" alt="Black Blouse Armani">
                                                </a>
                                            </td>
                                            <td><a href="#">Black Blouse Armani</a>
                                            </td>
                                            <td>
                                                <input type="number" value="1" class="form-control">
                                            </td>
                                            <td>$200.00</td>
                                            <td>$0.00</td>
                                            <td>$200.00</td>
                                            <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                    <tfoot>
                                        <!-- <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">$446.00</th>
                                        </tr> -->
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a data-ui-sref="products" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                <div class="pull-right" ng-if="$root.cartProducts.length>0">
                                    <!-- <button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button> -->
                                    <a  class="btn btn-primary" data-toggle="modal" data-target="#login-modal1" ng-click="selecttechpark='';techpark='';techparkaddress='';">Proceed to checkout <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </form>

                    </div>
                  

                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3" ng-show="showBasket">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted" ng-if="$root.cartProducts.length==0">You currently not having any item(s) in your cart..</p>
                        <p class="text-muted" ng-if="$root.cartProducts.length>0">You currently have {{$root.cartProducts.length}} item(s) in your cart..</p>

                        <div class="table-responsive" ng-if="$root.cartProducts.length>0">
                            <table class="table">
                                <tbody>
                                  <!--   <tr>
                                        <td>Order subtotal</td>
                                        <th>$446.00</th>
                                    </tr>
                                    <tr>
                                        <td>Shipping and handling</td>
                                        <th>$10.00</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr> -->
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>10 Rs/Day</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                   

                </div>

                <div class="col-md-9" id="basket" ng-show="!showBasket">

                    <div class="box">

                        <form method="post" action="checkout1.html">

                            <h1>Recent Orders</h1>
                            <p class="text-muted" >{{message}}</p>
                            <div class="table-responsive" ng-if="$root.recentOrders.length>0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                           <th colspan="2">Product</th>
                                            <!-- <th>Quantity</th> -->
                                            <th>Price per data</th>
                                            <!-- <th>Discount</th> -->
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in $root.recentOrders">
                                            <td>
                                                <a >
                                                    <img src="./uploads/{{product.pic}}" alt="{{product.name}}">
                                                </a>
                                            </td>
                                            <td><a href="">{{product.name}}</a>
                                            </td>
                                           <!--  <td>
                                                <input type="number" value="2" class="form-control">
                                            </td> -->
                                             <td>10 Rs/Day</td>
                                            <!--<td>$0.00</td>
                                            <td>$246.00</td> -->
                                            <!-- <td><a href="" ng-click="deleteProductFromCart(product)"><i class="fa fa-trash-o"></i></a>
                                            </td> -->
                                        </tr>
                                        <!-- <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="img/basketsquare.jpg" alt="Black Blouse Armani">
                                                </a>
                                            </td>
                                            <td><a href="#">Black Blouse Armani</a>
                                            </td>
                                            <td>
                                                <input type="number" value="1" class="form-control">
                                            </td>
                                            <td>$200.00</td>
                                            <td>$0.00</td>
                                            <td>$200.00</td>
                                            <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                    <tfoot>
                                        <!-- <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">$446.00</th>
                                        </tr> -->
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a data-ui-sref="products" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                
                            </div>

                        </form>

                    </div>
                  

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
<div class="modal fade" id="login-modal1" tabindex="0" role="dialog" aria-labelledby="Login" aria-hidden="true">

            <div class="modal-dialog">
 
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Avialability">Check the availability</h4>
                    </div>
                    <div class="modal-body">

                        <form  id="buy_products" name="buy_products">
                            <div class="form-group">
                                <select ng-model="selecttechpark" name="selectedtechpark" id="selectedtechpark" class="form-control"> 
                                    <option selected="selected" value="">Please select techpark?</option>
                                    <option ng-repeat="o in oraganizations" value="{{o.id_organization}}">{{o.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="mobile" ng-model="mobile" class="form-control" id="number-modal" placeholder="Mobile Number">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary" ng-click="buyProducts()"><i class="fa fa-sign-in"></i> Buy Now</button>
                            </p>
                        </form>

                        <!-- <p class="text-center btn btn-default btn-sm btn-primary"  >Not available?</p>
                        <p class="text-center text-muted" id="demo" class="collapse">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="TechPartk Name">
                            </div>
                            <div class="form-group">
                                <textarea col='2' rows="2" class="form-control" id="email-modal"  placeholder="TechPartk Address">
                                    
                                </textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="number-modal" placeholder="Contact Details">
                            </div>

                              <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Send Request</button>
                        </p>
                        -->
                        <h3>If your techpark is not available in list?<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Not Available</button></h3>
                          
                            <div id="demo" class="collapse">
                            <form id="sendReq" name="sendReq">
                                <div class="form-group">
                                    <input type="text"  name="techpark1" id="techpark1" ng-model="techpark" class="form-control" placeholder="Techpark name">
                                </div>
                                <div class="form-group">
                                    <textarea col='2' rows="2" class="form-control" name="techparkaddress" id="email-modal" ng-model="techparkaddress">
                                        
                                    </textarea>
                                </div>
                                <!-- <div class="form-group">
                                    <input type="text" class="form-control" id="number-modal" placeholder="Contact Details">
                                </div> -->
                                <button class="btn btn-primary" ng-click="sendOrganizationReq()"><i class="fa fa-sign-in"></i> Send Request</button>
                            </div>
                          </form>
                    </div>


                </div>
            </div>
        </div>

        