<style type="text/css">
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.textareaclass{
    outline: none;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    resize: none;
}
.btn-info {
    color: #fff;
    background-color: black;
    border-color: black;
}
</style>

<div class="modal fade" id="login-modal1" tabindex="0" role="dialog" aria-labelledby="Login" aria-hidden="true">

            <div class="modal-dialog">
 
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="closeBtnOrder" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Avialability">Provide Following Information</h4>
                    </div>
                    <div class="modal-body">

                        <form  id="buy_products" name="buy_products">
                            <!-- <div class="form-group">
                                <select ng-model="selecttechpark" name="selectedtechpark" id="selectedtechpark" class="form-control"> 
                                    <option selected="selected" value="">Please select techpark?</option>
                                    <option ng-repeat="o in oraganizations" value="{{o.id_organization}}">{{o.name}}</option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <input type="text" name="mobile" ng-model="mobile" class="form-control" id="number-modal" placeholder="Mobile Number">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary" ng-click="buyProducts()"><i class="fa fa-sign-in"></i> Rent Now</button>
                            </p>
                        </form>

                        <!-- <p class="text-center btn btn-default btn-sm btn-primary"  >Not available?</p>
                        <p class="text-center text-muted" id="demo" class="collapse">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="TechPartk Name">
                            </div>
                            <div class="form-group">
                                <textarea col='2' rows="2" class="form-control" id="email-modal"  placeholder="TechPartk Address">
                                    
                                </textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="number-modal" placeholder="Contact Details">
                            </div>

                              <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Send Request</button>
                        </p>
                        -->
                    </div>


                </div>
            </div>
        </div>    
    <div id="content" >
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a data-ui-sref="home">Home</a>
                        </li>
                        <li>Cart</li>
                    </ul>
                </div>
                <div class="col-md-9" id="basket" ng-cloak ng-show="showBasket">

                    <div class="box">

                        <form method="post" action="">

                            <h1>Cart</h1>
                            <p class="text-muted" ng-if="!$root.cartProducts||$root.cartProducts.length==0">Your Shopping Cart is empty.</p>
                            <p class="text-muted" ng-if="$root.cartProducts.length>0">You currently have {{$root.cartProducts.length}} {{$root.cartProducts.length==1?'item':'items'}} in your cart.</p>
                            <div class="table-responsive" ng-if="$root.cartProducts.length>0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th >Books</th>
                                             <th >Title</th>
                                            <!-- <th>Quantity</th> -->
                                            <th>Price</th>
                                            <!-- <th>Discount</th> -->
                                            <th colspan="2">Remove Item</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in $root.cartProducts">
                                            <td>
                                                <a >
                                                    <img ng-src="./uploads/{{product.pic}}" alt="{{product.name}}">
                                                </a>
                                            </td>
                                            <td>{{product.name}}
                                            </td>
                                           <!--  <td>
                                                <input type="number" value="2" class="form-control">
                                            </td> -->
                                             <td><i class="fa fa-inr" aria-hidden="true"></i> {{amoutPerRent}}/Week</td>
                                            <!--<td>$0.00</td>
                                            <td>$246.00</td> -->
                                            <td><a href="" ng-click="deleteProductFromCart(product)"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="img/basketsquare.jpg" alt="Black Blouse Armani">
                                                </a>
                                            </td>
                                            <td><a href="#">Black Blouse Armani</a>
                                            </td>
                                            <td>
                                                <input type="number" value="1" class="form-control">
                                            </td>
                                            <td>$200.00</td>
                                            <td>$0.00</td>
                                            <td>$200.00</td>
                                            <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                    <tfoot>
                                        <!-- <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">$446.00</th>
                                        </tr> -->
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a data-ui-sref="products" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                <div class="pull-right" ng-if="$root.cartProducts.length>0">
                                    <!-- <button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button> -->
                                    <a  class="btn btn-primary"  ng-click="selecttechpark='';techpark='';techparkaddress='';beforelogincheckout();">Proceed to checkout <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </form>

                    </div>
                  

                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3" ng-cloak ng-show="showBasket">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order Summary</h3>
                        </div>
                        <p class="text-muted" ng-if="!$root.cartProducts||$root.cartProducts.length==0">You do not have any items added to your Cart</p>
                        <p class="text-muted" ng-if="$root.cartProducts.length>0">You currently have {{$root.cartProducts.length}} {{$root.cartProducts.length==1?'item':'items'}} in your cart.</p>

                        <div class="table-responsive" ng-if="$root.cartProducts.length>0">
                            <table class="table">
                                <tbody>
                                  <!--   <tr>
                                        <td>Order subtotal</td>
                                        <th>$446.00</th>
                                    </tr>
                                    <tr>
                                        <td>Shipping and handling</td>
                                        <th>$10.00</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>$0.00</th>
                                    </tr> -->
                                    <tr class="total">
                                        <td>Total</td>
                                        <th><i class="fa fa-inr " aria-hidden="true"></i> {{amoutPerRent}}/Week/book</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            <p class="text-center"><b>Cash on delivery</b></p>
                    </div>


                   

                </div>

                <div class="col-md-9" id="basket" ng-cloak ng-show="!showBasket">

                    <div class="box">

                        <form method="post" action="checkout1.html">

                            <h1>Thank you for your order!</h1>
                            <p class="text-muted" >Your order has been placed and is being processed.When the items(s) are shipped, you will receive an notification with the details.You can track this order through <a href="#/orders" title="Orders">My Orders</a> page.</p>
                            <div class="table-responsive" ng-if="$root.recentOrders.length>0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                           <th colspan="2">Book</th>
                                            <!-- <th>Quantity</th> -->
                                            <th>Price</th>
                                            <!-- <th>Discount</th> -->
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in $root.recentOrders">
                                            <td>
                                                <a >
                                                    <img src="./uploads/{{product.pic}}" alt="{{product.name}}">
                                                </a>
                                            </td>
                                            <td>{{product.name}}
                                            </td>
                                           <!--  <td>
                                                <input type="number" value="2" class="form-control">
                                            </td> -->
                                             <td>{{amoutPerRent}} <i class="fa fa-inr" aria-hidden="true"></i>/Week</td>
                                            <!--<td>$0.00</td>
                                            <td>$246.00</td> -->
                                            <!-- <td><a href="" ng-click="deleteProductFromCart(product)"><i class="fa fa-trash-o"></i></a>
                                            </td> -->
                                        </tr>
                                        <!-- <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="img/basketsquare.jpg" alt="Black Blouse Armani">
                                                </a>
                                            </td>
                                            <td><a href="#">Black Blouse Armani</a>
                                            </td>
                                            <td>
                                                <input type="number" value="1" class="form-control">
                                            </td>
                                            <td>$200.00</td>
                                            <td>$0.00</td>
                                            <td>$200.00</td>
                                            <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                    <tfoot>
                                        <!-- <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">$446.00</th>
                                        </tr> -->
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a data-ui-sref="products" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                
                            </div>

                        </form>

                    </div>
                  

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        