
<div class="col-sm-12">
    <a href="javascript:" id="return-to-top" style="display: block;"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</div>
<div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <h4>Company</h4>

                        <ul>
                            <li><a data-ui-sref="faq" href="">FAQ</a>
                            </li>
                            <li><a data-ui-sref="aboutus" href="">About Us</a>
                            </li>
                            <li><a data-ui-sref="contactus" href="">Contact Us</a>
                            </li>
                             <li><a data-ui-sref="termsconditions" href="">Terms & Conditions</a>
                            </li>
                            <li>© 2017 Chainreaders
                            </li>
                        </ul>
                    </div>
                   
                    <!-- /.col-md-3 -->

                    <div class="col-xs-6 col-md-3 col-sm-6 col-lg-6 text-right">

                        <h4>Subscribe to our Newsletter</h4>

                        <!-- <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> -->

                        <form id="subscribe" name="subscribe" class="text-right">
                            <div class="col-sm-12 col-lg-7">
                            </div> 
                            <div class="col-sm-12 col-lg-5">   
                                <input type="text" placeholder="Enter your email id" id="subscriber" name="subscriber" ng-model="subscribe_user" class="form-control">
                                <span ng-bind="message" ng-if="subscribedmessageshow"></span>
                                <span class="btn">

                                    <button ng-click="subscribeUser(subscribe_user)" class="btn btn-default" type="button">Subscribe</button>

                                </span>

                            </div>    
                            </div>
                            <!-- /input-group -->
                        </form>


                       <!--  <h4>Stay in touch</h4> -->

                        <!-- <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p> -->


                    </div>
                    <!-- /.col-md-3 -->


                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <script type="text/javascript">
            $(window).scroll(function() {
                if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                    $('#return-to-top').fadeIn(200);    // Fade in the arrow
                } else {
                    $('#return-to-top').fadeOut(200);   // Else fade out the arrow
                }
            });
            $('#return-to-top').click(function() {      // When arrow is clicked
                $('body,html').animate({
                    scrollTop : 0                       // Scroll to top of body
                }, 500);
            });
        </script>