<style type="text/css">
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.textareaclass{
    outline: none;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    resize: none;
}
.btn-info {
    color: #fff;
    background-color: black;
    border-color: black;
}
</style>
<div id="content"  >
   <div class="container">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" >
                        <li class="active"  ng-init="showOrdersD=true;" ng-click="showOrdersD=true;" ><a href=""><span class="clickable" ng-class="{'gcolor':showOrdersD,'bcolor':!showOrdersD}">Your Orders</span></a></li>
                        <li class="active"  ng-click="showOrdersD=false;"><a href=""><span class="clickable" ng-class="{'gcolor':!showOrdersD,'bcolor':showOrdersD}" >Books Lent</span></a></li>
                        
                    </ul>
                </div>

                <div class="col-xs-12" id="basket" >
                <div class="tab-content">
                    <div class="box" id="orders"  class="tab-pane" ng-show="showOrdersD">
                       
                        <form >

                            <h1>List of orders</h1>
                            <p class="text-muted" ng-if="!orders||orders.length==0">Currently there are no orders</p>
                           <!--  <p class="text-muted" ng-if="$root.cartProducts.length>0">You currently have {{$root.cartProducts.length}} item(s) in your cart.</p> -->
                            <div class="table-responsive" ng-if="orders.length>0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th ></th>
                                            <th >Title</th>
                                            <th>Order Status</th>
                                            <th>Order Date</th>
                                            <th>Delivered Date</th>
                                            <th>Cancel Order</th>
                                            <th >Return Book</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="order in orders">

                                            <td>
                                                <a >
                                                    <img src="./uploads/{{order.pic}}" alt="{{order.name}}">
                                                </a>
                                            </td>
                                            <td><a href="">{{order.name}}</a>
                                            </td>
                                            <td>
                                                <span ng-if="order.transaction_status=='cancelled'">
                                                    Cancelled
                                                </span>
                                                <span ng-if="order.transaction_status=='in_progress'">
                                                    Return is in progress
                                                </span>
                                                <span ng-if="order.transaction_status=='delivered'">
                                                    Delivered
                                                </span>
                                                <span ng-if="order.transaction_status!='in_progress'&&order.transaction_status!='cancelled'&&order.transaction_status!='delivered'">
                                                    
                                                {{order.transaction_status}}
                                                </span>
                                            </td> 
                                            <td>{{order.ordered_date}}</td>
                                            <td>{{order.date_issued}}</td>
                                             <td>
                                             <span  ng-show="order.transaction_status=='Pending'">
                                                <button type="button" class="btn btn-info btn-sm" ng-click='changeTransactionStatus(order.id_sub_transaction,"cancelled")'>Cancel Order</button>
                                                 
                                             </span>
                                             </td>
                                            <td >
                                                <span ng-show="order.transaction_status=='delivered'">
                                                    
                                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#returnreview" ng-click='changeTransaction(order.id_sub_transaction,"in_progress",order.id_product)'>Return Order</button>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a data-ui-sref="products" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="box" id="lender_pros" ng-show="!showOrdersD">
                       
                        <form >

                            <h1>Books Lent</h1>
                            <p class="text-muted" ng-if="!lenderedProducts||lenderedProducts.length==0">You have not lent any book as of now</p>
                           <!--  <p class="text-muted" ng-if="$root.cartProducts.length>0">You currently have {{$root.cartProducts.length}} item(s) in your cart.</p> -->
                            <div class="table-responsive" ng-if="lenderedProducts.length>0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Date Issued</th>
                                            <th>Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="order in lenderedProducts">
                                            <td>
                                                <a >
                                                    <img src="./uploads/{{order.pic}}" alt="{{order.name}}">
                                                </a>
                                            </td>
                                            <td><a href="">{{order.name}}</a>
                                            </td>
                                            <td>
                                                {{order.date_issued}}
                                            </td> 
                                             <td ><i class="fa fa-inr" aria-hidden="true"></i> {{amoutPerRent}}/Day
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a data-ui-sref="products" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                            </div>

                        </form>

                    </div>
              </div>    

            </div>
          

  </div>
</div>
  <div class="modal fade" id="returnreview" tabindex="0" role="dialog" aria-labelledby="Review" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="width:80%;height:400px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="Login">Return Order</h4>
                        </div>
                        <div class="modal-body">
                            <form name="lender_books" class="form-group" id="lender_books1">
                                <h1>Rating</h1>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5.00" ng-model="rating"/><label class = "full" for="star5" title="Awesome - 5 stars" ></label>
                                    <input type="radio" id="star4half" name="rating" ng-model="rating" value="4.50" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star4" name="rating" value="4.00" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" ng-model="rating" id="star3half" name="rating" value="3.50" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star3" name="rating" value="3.00" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio"  ng-model="rating" id="star2half" name="rating" value="2.50" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star2" name="rating" value="2.00" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" ng-model="rating" id="star1half" name="rating" value="1.50" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star1" name="rating" value="1.00" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" ng-model="rating" id="starhalf" name="rating" value="0.50" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                                <br>
                               <div class="col-lg-12"></div>
                               <h1>Description</h1>
                               <fieldset class="rating">
                               <textarea rows="8" cols="50" placeholder="Description..." class="textareaclass" ng-model="description"></textarea>
                               </fieldset>
                               <br>
                               <div class="col-xs-12">
                                    <div class="form-group text-center" >
                                       <button type="button" class="btn btn-info btn-sm" ng-click="changeTransactionStatus(id_subtransaction,'in_progress',id_product)">Return Order</button>
                                    
                                    <button type="button" class="btn btn-info btn-sm" ng-click="changeTransactionStatus(id_subtransaction,'in_progress',id_product)">Skip & Return Order</button>
                                    </div>
                                </div>
                            </form>
                           <!--  <p class="text-center text-muted">Not registered yet?</p>
                            <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p> -->

                        </div>
                    </div>
                </div>
            </div>