<style type="text/css">
    .img-responsive1{
        display: block;
        max-width: 100%;
        height: 184px;
    }
    .linkDisabled {
  cursor: not-allowed !important;
  pointer-events: none;
  color: grey;
}

.prvsBtns{padding: 4px 15px !important;background-color: #4fbfa8; font-size: 10px;

  border: 1px solid #ddd; margin-right: 2px; color:#444444;}

.prvsBtns:hover{background-color: #4fbfa8 !important; color: #fff;border: 1px solid #1c9ccb;}

.nextBtns{padding: 4px 15px !important;background-color: #4fbfa8; font-size: 10px;

  border: 1px solid #ddd; margin-left: 5px; color:#444444;}

.nextBtns:hover{background-color: #4fbfa8 !important; color: #fff;border: 1px solid #1c9ccb;}

.paginationnmbr{padding: 2px 7px !important; margin-right: 5px;}

.activepagintion{background-color: #1c9ccb !important;text-align:center;border: 1px solid #1c9ccb;cursor: pointer;color: #fff;top: 1px;position: relative;}

.deactivepagintion{background-color: #4fbfa8 !important;text-align:center;border: 1px solid #ddd;

  cursor: pointer;position: relative;top: 1px;color: #666666;}

.deactivepagintion:hover{background-color: #4fbfa8 !important; color: #fff;border: 1px solid #1c9ccb;}

</style>
<div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a data-ui-sref="home">Home</a>
                        </li>
                        <li ng-if="backtoProductPage"><a ng-click="backToProductList()">Back to products list</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Categories <a class="btn btn-xs btn-danger pull-right" href="" ng-click="clearAllElemts()"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body" ng-if="categories.length>0">

                            <form>
                                <div class="form-group">
                                    <div class="checkbox" ng-repeat="c in categories">
                                        <label>

                                            <input class="ckbox" ng-model="categoriesIds[$index]" ng-true-value="{{c.id_category}}" ng-false-value="" type="checkbox" ng-change="startIndex=0;$limitIndex=6;getAllProducts();">{{c.name}}
                                        </label>
                                    </div>
                                </div>

                                <!-- <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button> -->

                            </form>

                        </div>
                    </div>

                    <!-- <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour white"></span> White (14)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour green"></span> Green (20)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour red"></span> Red (10)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                            </form>

                        </div>
                    </div> -->

                    <!-- *** MENUS AND FILTERS END *** -->

                    <div class="banner">
                        <a href="#">
                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="col-md-9" ng-clock ng-show="!productDetail">
                    <!-- <div class="box">
                        <h1>Ladies</h1>
                        <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
                    </div> -->
<!--
                    <div class="box info-bar" ng-show="products.length>0">
                        <div class="row">
                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    <form class="form-inline">
                                         <div class="col-md-6 col-sm-6">
                                            <div class="products-number">
                                                <strong>Show</strong>  
                                                <a href="" class="btn btn-default btn-sm" ng-click="limitIndex=6;changeLimitIndex(limitIndex,'products')" ng-class="{'btn-primary':limitIndex==6}">6</a>
                                                <a href="" class="btn btn-default btn-sm" ng-click="limitIndex=9;changeLimitIndex(limitIndex,'products')" ng-class="{'btn-primary':limitIndex==9}">9</a>  
                                                <a href="" class="btn btn-default btn-sm" ng-click="limitIndex=12;changeLimitIndex(limitIndex,'products')"  ng-class="{'btn-primary':limitIndex==12}">12</a>
                                                <a href="" class="btn btn-default btn-sm" ng-click="limitIndex=24;changeLimitIndex(limitIndex,'products')" ng-class="{'btn-primary':limitIndex==24}">24</a>  
                                                <a href="" class="btn btn-default btn-sm" ng-class="{'btn-primary':limitIndex==totalItems}" ng-click="limitIndex=totalItems;changeLimitIndex(limitIndex,'products')">All</a> <span>products</span>
                                            </div>
                                        </div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                    <div class="">

                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">White Blouse Armani</a></h3>
                                    <p class="price"><del>$280</del> $143.00</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>

                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>

                                <div class="ribbon gift">
                                    <div class="theribbon">GIFT</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">Black Blouse Versace</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                            </div>
                        </div> -->

                       <!--  <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">Black Blouse Versace</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">White Blouse Versace</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">Fur coat</a></h3>
                                    <p class="price">$143.00</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>

                                <div class="ribbon gift">
                                    <div class="theribbon">GIFT</div>
                                    <div class="ribbon-background"></div>
                                </div>

                            </div>
                        </div>
 -->
                        <div class="col-md-4 col-sm-6" ng-repeat="p in products">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="back">
                                            <a ng-click="getProductDetail(p.id_product)">
                                                <img ng-src="./uploads/{{p.pic}}" width="253" height="367" alt="" class="img-responsive1">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a ng-click="getProductDetail(p.id_product)">
                                                <img ng-src="./uploads/{{p.pic}}" width="253" height="367" alt="" class="img-responsive1">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a ng-click="getProductDetail(p.id_product)" class="invisible">
                                    <img ng-src="{{p.pic_name}}" width="253" height="367" alt="" class="img-responsive1">
                                </a>
                                <div class="text">
                                    <h3><a ng-click="getProductDetail(p.id_product)">{{p.name}}</a></h3>
<!--                                     <p class="price">$143.00</p>
 -->                                <p class="buttons" ng-show="p.copies>0">
                                        <a  class="btn btn-default" ng-click="getProductDetail(p.id_product)">View detail</a>
                                        <button id="por_{{$index}}" class="btn btn-primary" ng-click="addProductToCart(p)"><i class="fa fa-shopping-cart" ></i>Add to cart</button>
                                    </p>
                                    <p class="buttons" ng-show="!p.copies||p.copies<=0">
                                        <a  class="btn btn-default" ng-click="getProductDetail(p.id_product)">View detail</a>
                                        <a href="" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Out of stock</a>
                                    </p>

                                </div>
                                <!-- /.text -->

                               <!--  <div class="ribbon gift">
                                    <div class="theribbon">GIFT</div>
                                    <div class="ribbon-background"></div>
                                </div> -->
                                <!-- /.ribbon -->

                            </div>
                            <!-- /.product -->
                        </div>

                    </div>
                    <!-- /.products -->

                    <div class="pages" ng-show="products.length>0">

                        <div class="col-sm-12 col-md-4 products-showing">
                                Showing <strong>{{(startIndex*parseInt(limitIndex))+1}}</strong> to <strong>{{totalItems>(startIndex*parseInt(limitIndex))+parseInt(limitIndex)?(startIndex*parseInt(limitIndex))+parseInt(limitIndex):totalItems}}</strong> of <strong>{{totalItems}}</strong> products
                        </div>
                        <div>
                        <span>
                            <a class="prvsBtns" ng-class="{'linkDisabled':startIndex == 0}" ng-disabled="startIndex == 0" ng-click="startIndex = startIndex - 1; setPage(startIndex, 'products'); loadingBarShow = true;"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            <!-- <a href="" ng-class="{'linkDisabled':startIndex==0}" ng-click="startIndex = startIndex - 1; setPage(startIndex, 'manulaUpload'); loadingBarShow = true;">&laquo;</a> -->
                        </span>
                        <span>
                            <a class="paginationnmbr" ng-repeat="item in itemsPaginated()" ng-click="setPage(item - 1, 'products')" ng-class="{'activepagintion':startIndex == item - 1,'deactivepagintion':startIndex != item - 1}">
                                {{item}}
                            </a>
                            <!-- <a href="" ng-repeat="item in itemsPaginated()" ng-click="setPage(item - 1, 'products')" ng-class="{'active':startIndex == item - 1,'deactivepagintion':startIndex != item - 1}">{{item}} </a> -->
                        </span>
                        <span>
                            <a class="nextBtns" ng-class="{'linkDisabled':startIndex >= totalItems / limitIndex - 1}" ng-disabled="startIndex >= totalItems / limitIndex - 1" ng-click="startIndex = startIndex + 1; setPage(startIndex, 'products'); loadingBarShow = true;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            <!-- <a href="" ng-disabled="{'linkDisabled':startIndex >= totalItemsAnalytics / limitIndex - 1}" ng-click="startIndex = startIndex + 1; setPage(startIndex, 'products'); loadingBarShow = true;">&raquo;</a> -->
                        </span>
                    </div>
                    </div>
                    <div>
                        <p class="text-muted" ng-if="!products||products.length==0">
                        <span ng-if="$root.searchString!=''">No Records Are Avaialble For Your Search.</span>
                        <span ng-if="$root.searchString==''">No Records.</span></p>
                    </div>


                </div>
                <!-- /.col-md-9 -->
                <div class="col-md-9" ng-clock ng-show="productDetail">
                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <div id="mainImage">
                                <img  ng-src="./uploads/{{single_product.pic}}" alt="" class="img-responsive">
                            </div>
<!-- 
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div> -->
                            <!-- /.ribbon -->

                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <h1 class="text-center">{{single_product.name}}</h1>
                                <p class="goToDescription"><a  class="scroll-to">Scroll to product details</a>
                                </p>
<!--                                 <p class="price">$124.00</p>
 -->
                                <p class="text-center buttons" ng-show="single_product.copies>0">
                                    <a href="" class="btn btn-primary" ng-click="addProductToCart(single_product)"><i class="fa fa-shopping-cart" ></i> Add to cart</a> 
                                    <!-- <a href="" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a> -->
                                </p>
                                 <p class="text-center buttons" ng-show="!single_product.copies||single_product.copies<=0">
                                    <a href="" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Out of stock</a>
                                    <!-- <a href="" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a> -->
                                </p>
                                

                            </div>

                            <!-- <div class="row" id="thumbs">
                                <div class="col-xs-4">
                                    <a href="" class="thumb">
                                        <img src="./uploads/{{single_product.pic}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="" class="thumb active">
                                        <img src="img/product/{{single_product.pic}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="" class="thumb">
                                        <img src="img/product/{{single_product.pic}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div> -->
                        </div>

                    </div>


                    <div class="box" id="details">
                        <p>
                            </p><h4>Product details</h4>
                            <p>{{single_product.description}}</p>
                            <h4>Material &amp; care</h4>
                           <!--  <ul>
                                <li>Polyester</li>
                                <li>Machine wash</li>
                            </ul>
                            <h4>Size &amp; Fit</h4>
                            <ul>
                                <li>Regular fit</li>
                                <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                            </ul> -->

                            <blockquote>
                                <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                                </p>
                            </blockquote>

                            <hr>
                           <!--  <div class="social">
                                <h4>Show it to your friends</h4>
                                <p>
                                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </p>
                            </div> -->
                    </div>

                   <!--  <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height" style="height: 379px;">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                        </div>

                    </div> -->

                   <!--  <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height" style="height: 379px;">
                                <h3>Products viewed recently</h3>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                        </div>

                    </div> -->

                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->