
<div class="spinner" title="Loading...." ng-cloak ng-show="loadingBarShow">
  <span class="ball-1"></span>
  <span class="ball-2"></span>
  <span class="ball-3"></span>
  <span class="ball-4"></span>
  <span class="ball-5"></span>
  <span class="ball-6"></span>
  <span class="ball-7"></span>
  <span class="ball-8"></span>
</div>
<div id="content" >
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pd768-0">
                    <ul class="breadcrumb ">
                       <nav >
                          <a class="breadcrumb-item" style="color:black" data-ui-sref="home">Home></a>
                          <span class="breadcrumb-item active" style="color:#777" data-ui-sref="products">Products</span>
                          <a ng-cloak ng-if="backtoProductPage" ng-click="backToProductList()" style="color:black">Back to products list</a>
                        </nav>
                       <!--  <li><a class="breadcrumb-item" data-ui-sref="home"  > <span class="breadcrumb-item active">Products</span></a>
                        </li>
                        <li ng-cloak ng-if="backtoProductPage" ><a ng-click="backToProductList()" style="color:black">Back to products list</a>
                        </li> -->
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading" style="border-color:black;border:2px">
                            <h3 class="panel-title">Categories <a class="btn btn-xs btn-danger1 pull-right" href="" ng-click="clearAllElemts()"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body" ng-cloak ng-if="categories.length>0">

                            <form>
                               <!--  <div class="form-group">
                                    <div class="checkbox" >
                                        <label>

                                            <input class="ckbox" ng-model="categoriesIds[$index]" ng-true-value="{{c.id_category}}" ng-false-value="" type="checkbox" ng-change="startIndex=0;$limitIndex=6;getAllProducts();">{{c.name}}
                                        </label>
                                    </div>
                                </div> -->
                                <div ng-repeat="c in categories track by $index">
                                  <input id="box{{$index}}" type="checkbox" ng-model="$root.categoriesIds[$index]" ng-true-value="1" ng-false-value="" type="checkbox" ng-change="startIndex=0;$limitIndex=6;getAllProductsMain($index);"/>
                                  <label for="box{{$index}}">{{c.name}}</label>
                                </div>


                                <!-- <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button> -->

                            </form>

                        </div>
                    </div>
                    <!-- *** MENUS AND FILTERS END *** -->

                   <!--  <div class="banner">
                        <a href="#">
                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div> -->
                </div>

                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 pd768-0" ng-clock ng-cloak ng-show="!productDetail">
                    <div class="col-sm-12 pd768-0">
                        <div class="col-xs-12 col-sm-4 pd768-0 w568-50" ng-repeat="p in products" title="{{p.name}}"> 
                             <div class="col-xs-12" >
                                <div class="col-lg-12" >
                                    <img style="cursor:pointer;width: 134px !important;
    height: 201px !important;" ng-src="./uploads/{{p.pic}}"  ng-click="getProductDetail(p.id_product)">
                                </div>
                                <div class="col-xs-12 no-padding">
                                    <div class=" col-lg-12 m-5">
                                        <div class="col-lg-12 no-padding"> 
                                            <a style="cursor:pointer" ng-click="getProductDetail(p.id_product)"><strong>
                                                
                                                <span ng-if="p.name.length>20" >{{p.name|limitTo:20}}..</span>
                                                <span ng-if="p.name.length<=20">{{p.name}}</span></strong></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" >
                                        <div class="col-lg-12 no-padding"> 
                                            <span style="color:grey" class="text-left" > {{p.author||""}}</span>
                                        </div>
                                    </div> 
                                    <div class=" col-lg-12 m-12">
                                        <div class="col-lg-12 no-padding"> 
                                            <span ng-cloak ng-show="!p.copies||p.copies<=0" class="text-left outofStock"> 
                                                <strong>Out of stock</strong>
                                            </span>
                                            <span ng-cloak ng-show="p.copies>0" style="color:grey" class="text-left" ><br> </span>
                                        </div>
                                    </div>  
                                </div>    
                            </div> 
                        </div>

                    </div>
                    <!-- /.products -->

                    <div class="col-xs-12 no-padding paginationBkr" ng-cloak ng-show="products.length>0">

                        <div class="col-sm-12 col-md-4 text-left margin17">
                                Showing <strong>{{(startIndex*parseInt(limitIndex))+1}}</strong> to <strong>{{totalItems>(startIndex*parseInt(limitIndex))+parseInt(limitIndex)?(startIndex*parseInt(limitIndex))+parseInt(limitIndex):totalItems}}</strong> of <strong>{{totalItems}}</strong> products
                        </div>
                        <div class="col-xs-12 col-sm-8 text-right ">
                        <nav aria-label="Product page navigation">
                            <ul class = "pagination">
                               <li><a class="" ng-class="{'linkDisabled':startIndex == 0}" ng-disabled="startIndex == 0" ng-click="startIndex = startIndex - 1; setPage(startIndex, 'products'); loadingBarShow = true;"><i class="fa fa-angle-double-left" aria-hidden="true" style="margin: 0!important"></i></a></li>
                               <li>
                                    <a class="" ng-repeat="item in itemsPaginated()" ng-click="setPage(item - 1, 'products')" ng-class="{'activepagintion':startIndex == item - 1,'deactivepagintion':startIndex != item - 1}">
                                    {{item}}
                                </a>
                                </li>
                               <li><a class="" ng-class="{'linkDisabled':startIndex >= totalItems / limitIndex - 1}" ng-disabled="startIndex >= totalItems / limitIndex - 1" ng-click="startIndex = startIndex + 1; setPage(startIndex, 'products'); loadingBarShow = true;"><i class="fa fa-angle-double-right" aria-hidden="true" style="margin: 0!important"></i></a></li>
                            </ul>
                        </nav>
                    </div> 
                    </div>
                    
                    <div>
                        <p class="text-muted" ng-cloak ng-if="products.length==0">
                        <span ng-cloak ng-if="$root.searchString!=''">No Records Are Avaialble For Your Search.</span>
                        <span ng-cloak ng-if="$root.searchString==''">No Records.</span></p>
                    </div>


                </div>
                <!-- /.col-md-9 -->
                <div class="col-xs-9" ng-clock ng-cloak ng-show="productDetail">
                    <div class="row" id="productMain">
                        <div class="col-sm-4" style="    margin-left: 121px;" >
                            <div >
                                <img  ng-src="./uploads/{{single_product.pic}}" alt="" class="img-responsive" style="width: 134px;height: 201px;">
                            </div>
<!-- 
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div> -->
                            <!-- /.ribbon -->

                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <h1 class="text-center">{{single_product.name}}</h1>
<!--                                 <p class="price">$124.00</p>
 -->
                                <p class="text-center buttons" ng-cloak ng-show="single_product.copies>0">
                                    <a href="" class="btn btn-primary" ng-click="addProductToCart(single_product)"><i class="fa fa-shopping-cart" ></i> Add to Cart</a> 
                                    <!-- <a href="" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a> -->
                                </p>
                                 <p class="text-center buttons" ng-cloak ng-show="!single_product.copies||single_product.copies<=0">
                                    <a href="" class="btn btn-primary disabled"><i class="fa fa-shopping-cart"></i>Out of stock</a>
                                    <!-- <a href="" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a> -->
                                </p>
                                

                            </div>

                            <!-- <div class="row" id="thumbs">
                                <div class="col-xs-4">
                                    <a href="" class="thumb">
                                        <img src="./uploads/{{single_product.pic}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="" class="thumb active">
                                        <img src="img/product/{{single_product.pic}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="" class="thumb">
                                        <img src="img/product/{{single_product.pic}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div> -->
                        </div>

                    </div>


                    <div class="box" id="details"><h4>About the book</h4>
                            <p ng-bind-html="to_trusted(single_product.description)"></p>
                            <h4>Ratings</h4>
                            <!--  <ul>
                                <li>Polyester</li>
                                <li>Machine wash</li>
                            </ul>
                            <h4>Size &amp; Fit</h4>
                            <ul>
                                <li>Regular fit</li>
                                <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                            </ul> -->
                             <fieldset class="rating linkDisabled1" >
                                    <input type="radio" id="star5" name="rating" value="5.00" ng-model="rating"/><label class = "full" for="star5" title="Awesome - 5 stars" ></label>
                                    <input type="radio" id="star4half" name="rating" ng-model="rating" value="4.50" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star4" name="rating" value="4.00" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" ng-model="rating" id="star3half" name="rating" value="3.50" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star3" name="rating" value="3.00" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio"  ng-model="rating" id="star2half" name="rating" value="2.50" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star2" name="rating" value="2.00" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" ng-model="rating" id="star1half" name="rating" value="1.50" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" ng-model="rating" id="star1" name="rating" value="1.00" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" ng-model="rating" id="starhalf" name="rating" value="0.50" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            <div class="col-lg-12">
                            </div>
                            <br> 
                            <h4>Reviews </h4> 
                            <blockquote ng-repeat="review in reviews">
                                <p><em>{{review.description}}.</em>
                                </p>
                                by
                                {{review.name}}
                            </blockquote>

                            <hr>
                           <!--  <div class="social">
                                <h4>Show it to your friends</h4>
                                <p>
                                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </p>
                            </div> -->
                    </div>

                   <!--  <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height" style="height: 379px;">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                        </div>

                    </div> -->

                   <!--  <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height" style="height: 379px;">
                                <h3>Products viewed recently</h3>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height" style="height: 379px;">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                        </div>

                    </div> -->

                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->